<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <script src="//res.layui.com/layui/dist/layui.js?t=1527693307625" charset="utf-8"></script>
    <title>登录</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{component :: page_title}"></div>
    <div th:replace="~{component :: writer_nav}"></div>
    <div class="layui-body" style="padding:10px">
        <fieldset class="layui-elem-field" style="padding:10px;margin-top: 10px;">
            <legend>登录</legend>
            <div class="layui-form">
                <form class="layui-form" action="/user/login" method="post">
                    <div th:if="${message!=null}" class="layui-form-item">
                        <strong>提示信息:</strong><a th:text="${message}"></a>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input class="layui-input" type="text" name="username" placeholder="用户名" required>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input class="layui-input" type="password" name="password" placeholder="密码" required>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn">登录</button>
                            <a role="button" class="layui-btn" href="/user/register">注册</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</div>
<script>
    layui.config({
        base: '//res.layui.com/static/lay/modules/layui/'
        , version: '1527693307625'
    }).use('global');
    layui.use(['form', 'element'], function () {
        var form = layui.form;
        var element = layui.element;
        form.render();
    });
</script>
</body>
</html>