<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <script src="//res.layui.com/layui/dist/layui.js?t=1527693307625" charset="utf-8"></script>
    <title>提案详情</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{component :: page_title}"></div>
    <div th:replace="~{component :: writer_nav}"></div>
    <div class="layui-body" style="padding:10px">
        <fieldset class="layui-elem-field" style="padding:10px;margin-top: 10px;">
            <legend>提案详情</legend>
            <div class="layui-field-box">
                <p>提案ID:<a th:text="${proposal.pid}"></a></p>
                <p>提案名称:<a th:text="${proposal.name}"></a></p>
                <p>提案作者:<a th:text="${proposal.author}"></a></p>
                <p>截止日期:<a
                        th:text="${#dates.format(new java.util.Date(proposal.deadline*1000), 'yyyy-MM-dd HH:mm:ss')}"></a>
                </p>
                <p>提案内容:</p>
                <p th:text="${proposal.content}"></p>
                <p>
                    <button class="layui-btn" onclick="window.print()">打印</button>
                </p>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field" style="padding:10px;margin-top: 10px">
            <legend>评论</legend>
            <div class="layui-field-box">
                <form action="/proposal/comment" class="layui-form" method="post">
                    <input type="hidden" name="pid" th:value="${proposal.pid}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">评论内容</label>
                        <div class="layui-input-block">
                            <input type="text" name="content" placeholder="评论内容" class="layui-input" required>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">单选框</label>
                        <div class="layui-input-block">
                            <input type="radio" name="opinion" value="support" title="附议">
                            <input type="radio" name="opinion" value="reject" title="反对">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field" style="padding:10px;margin-top: 10px">
            <legend>评论区</legend>
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>评论人</th>
                        <th>评论内容</th>
                        <th>评论时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="comment:${comments}">
                        <td th:text="${comment.uid}"></td>
                        <td th:text="${comment.content}"></td>
                        <td th:text="${#dates.format(new java.util.Date(comment.timeline*1000), 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>
<script>
    layui.config({
        base: '//res.layui.com/static/lay/modules/layui/'
        ,version: '1527693307625'
    }).use('global');
    layui.use(['form','element'], function(){
        var form = layui.form;
        var element = layui.element;
        form.render();
    });
</script>
</body>
</html>