<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <script src="//res.layui.com/layui/dist/layui.js?t=1527693307625" charset="utf-8"></script>
    <title>提案列表</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{component :: page_title}"></div>
    <div th:replace="~{component :: writer_nav}"></div>
    <div class="layui-body" style="padding:10px">
        <fieldset class="layui-elem-field" style="padding:10px;margin-top: 10px;">
            <legend>提案搜索</legend>
            <form action="/proposal/search" method="post" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text" name="name" placeholder="提案名称">
                    </div>
                    <div class="layui-input-inline">
                        <button class="layui-btn layui-btn-normal" type="submit"><i
                                class="layui-icon layui-icon-search">搜索</i></button>
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset class="layui-elem-field" style="padding:10px;margin-top: 10px">
            <legend>提案列表</legend>
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" name="checkItems" id="checkItems"
                                               value="全选"/>
                        </th>
                        <th scope="col">编号</th>
                        <th scope="col">提案名称</th>
                        <th scope="col">作者</th>
                        <th scope="col">截止日期</th>
                        <th scope="col">状态</th>
                        <th scope="col">附议数</th>
                        <th scope="col">反对数</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tr th:each="proposal:${proposals}">
                        <td><input type="checkbox" name="selectItem" id="selectItem"
                                   th:value="${proposal.pid}"
                                   value=""/></td>
                        <td th:text="${proposal.pid}"></td>
                        <td th:text="${proposal.name}"></td>
                        <td th:text="${proposal.author}"></td>
                        <td th:text="${#dates.format(new java.util.Date(proposal.deadline*1000), 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${proposal.status}"></td>
                        <td th:text="${proposal.support}"></td>
                        <td th:text="${proposal.reject}"></td>
                        <td><a role="button" class="btn btn-info" th:href="|/proposal/view/${proposal.pid}|">查看</a>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</div>
<script>
    layui.config({
        base: '//res.layui.com/static/lay/modules/layui/'
        ,version: '1527693307625'
    }).use('global');
    layui.use(['form','element'], function(){
        var form = layui.form;
        var element = layui.element;
        form.render();
    });
</script>
</body>
</html>