<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <script src="//res.layui.com/layui/dist/layui.js?t=1527693307625" charset="utf-8"></script>
    <title>管理员</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{component :: page_title}"></div>
    <div th:replace="~{component :: admin_nav}"></div>
    <div class="layui-body" style="padding:10px">
        <fieldset class="layui-elem-field" style="padding:10px;margin-top: 10px;">
            <legend>入会申请表</legend>
            <div class="layui-field-box">
                <p>姓名 : <a th:text="${checkuser.name}"></a></p>
                <p>性别 : <a th:text="${checkuser.sex}"></a></p>
                <p>出生日期 : <a th:text="${checkuser.birthday}"></a></p>
                <p>家庭住址 : <a th:text="${checkuser.address}"></a></p>
                <p>联系方式 : <a th:text="${checkuser.contact}"></a></p>
                <p>推荐人 : <a th:text="${checkuser.referrer}"></a></p>
                <p>申请内容 : </p>
            </div>
        </fieldset>
    </div>
</div>
<script>
    layui.config({
        base: '//res.layui.com/static/lay/modules/layui/'
        ,version: '1527693307625'
    }).use('global');
    layui.use(['form','element'], function(){
        var form = layui.form;
        var element = layui.element;
        form.render();
    });
</script>
</body>
</html>