<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css" media="all">
    <script src="//res.layui.com/layui/dist/layui.js?t=1527693307625" charset="utf-8"></script>
    <title>管理员</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{component :: page_title}"></div>
    <div th:replace="~{component :: admin_nav}"></div>
    <div class="layui-body" style="padding:10px">
        <fieldset class="layui-elem-field" style="padding:10px;margin-top: 10px">
            <legend>待审核用户列表</legend>
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" name="checkItems" id="checkItems"
                                               value="全选"/>
                        </th>
                        <th scope="col">编号</th>
                        <th scope="col">用户名</th>
                        <th scope="col">姓名</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${users}">
                        <td><input type="checkbox" name="selectItem" id="selectItem"
                                   th:value="${user.uid}"
                                   value=""/></td>
                        <td th:text="${user.uid}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.name}"></td>.
                        <td><a role="button" class="btn btn-outline-info" th:href="|/user/view/${user.uid}|">查看</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>
<script>
    layui.config({
        base: '//res.layui.com/static/lay/modules/layui/'
        ,version: '1527693307625'
    }).use('global');
    layui.use(['form','element'], function(){
        var form = layui.form;
        var element = layui.element;
        form.render();
    });
</script>
</body>
</html>